@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("/images/sun-tornado.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.bg-moon {
  background-image: url("/images/wasHereBg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.background-bamboo {
  background-color: #fff4e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23ffbf9b' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.blog-content h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content p {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.8rem;
}
.blog-content ul,
.blog-content ol {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  list-style-type: disc;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.blog-content li {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 0.7rem;
}
