@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("/images/sun-tornado.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.bg-moon {
  background-image: url("/images/wasHereBg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.background-bamboo {
  background-color: #fff4e0;
  background-image: url("/images/bamboo.svg");
}

.blog-content h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.blog-content p {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.8rem;
}
.blog-content ul {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  list-style-type: disc;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.blog-content ol {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  list-style-type: decimal;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}
.blog-content li {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 0.7rem;
}

.blog-content a {
  color: #6d9886;
  text-decoration: underline;
}
.blog-content blockquote {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  border-left: 0.25rem solid #6d9886;
  padding-left: 1rem;
}
.blog-content pre,
.blog-content-post pre {
  background-color: #3e372b;
  color: white;
  border-radius: 3px;
  font-family: "Source Code Pro", monospace;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 15px;
}

.blog-content a:hover {
  color: #87baa5;
  text-decoration: none;
}

.blog-content-post h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0.1rem;
}
.blog-content-post p {
  display: block;
  margin-bottom: 0.1rem;
}
